@media (max-width:1439px) {
    
    .sidepanel {
        display: none;
    }
}
@media (max-width:1200px) {
    .container {
        max-width: 960px;
    }
    .sidepanel {
        display: none;
    }
    .info {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
        }
        &__skills {
            column-gap: 30px;
            grid-template: repeat(2,minmax(115px,auto))/repeat(2,250px);
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    }
    .resume {
        &__wrapper {
            padding: 50px 30px 0 30px;
            display: grid;
            grid-template-columns: repeat(2,340px);
            column-gap: 30px;
        }
    }
    .about {
        &__wrapper{
            grid-template-columns: repeat(auto-fit, 270px);
        }
        
        }
        &__ratings {
            grid-template-columns: repeat(auto-fit, 250px);
            grid-auto-rows: minmax(70px, auto);
            justify-content: space-between;
            padding: 0 30px;
        }
        &__items {
            grid-template-columns: repeat(auto-fit, 270px);
            justify-content: space-between;
    }
    .portfolio {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 35px;
            .horizonal , .vertical {
                grid-column: unset;
                grid-row: unset;
            }
        }
    }
    .contacs {
        padding-top: 80px;
        &__wrapper {
            padding: 0 4px 0 0px;
            grid-template-columns: 335px 560px;
        }
    }

}
@media (max-width:992px){
    .container {
        max-width: 720px;
    }
    .info {
        &__wrapper {
            grid-template-columns: 300px 380px;
            column-gap: 40px;
        }
        &__subtitle {
            font-size: 30px;
            line-height: 45px;
        }
        &__skills {
            column-gap: 30px;
            grid-template: repeat(2,minmax(115px,auto))/ 1fr;
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    .resume {
        &__wrapper {
            padding: 50px 30px 0 30px;
            display: grid;
            grid-template-columns: repeat(2,340px);
            column-gap: 30px;
            }
        }
    
    }
    .about {
        &__wrapper {
            grid-template-columns: repeat(2,340px);
        }
        &__rating {
            grid-template-columns: 1fr;
            &-line {
                width: 100%;
           }
           &-item {
                grid-template-rows: 40px 10px;
           }
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 350px);
            padding: 0;
            padding-top: 15px;
            justify-content: center;
        }
    }
    .contacs {
        &__photo {
            display: none;
        }
        
        &__form {
            grid-template-columns: repeat(2,354px);
            column-gap: 15px;

        }
    }

    
    
}
@media (max-width:768px) {
    .container {
        max-width: 540px;
    }
    .title {
        line-height: 29px;
        &__fz48 {
            font-size: 28px;
        }
    }
    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
            
        }
    }
    .info {
        padding-top: 40px;
        &__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: 420px auto auto auto;
            column-gap: 40px;
        }
        &__photo {
            grid-row: unset;
        }
        &__subtitle {
            font-size: 30px;
            line-height: 45px;
        }
        &__skills {
            column-gap: 30px;
            grid-template-columns: 260px 260px;
            &-item {
                grid-template-columns: 40px 195px;
                column-gap: 15px;
            }
        }
    .price {
        padding-top: 40px;
        &__wrapper {
            margin-top: 20px;
        }
    }

}
    .resume {
        padding-left: 50px;
        &__wrapper {
            padding: 50px 30px 0 30px;
            display: grid;
            grid-template-columns: 400px;
            column-gap: 30px;
        }
        &__collum {
            &-title {
                font-size: 30px;
            }
        }
    }
    .about {
        padding-top: 100px;
        &__wrapper {
            padding: 45px 6px 0 2px;
            grid-template-columns: repeat(2,260px);
            grid-template-rows: 270px;
        }
        &__subtitle {
            font-size: 30px;
        }
    }
    .contacs {
        &__photo {
            display: none;
            &__wrapper {
                grid-template-columns: 1fr;
            }
            &__form {
                grid-template: 45px 190px 45px / repeat(2, 250px)
            }

        
    }
}

}
@media (max-width:576px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }
    .title {
        line-height: 29px;
        &__fz48 {
            font-size: 26px;
        }
    }
    .hamburger {
        right: 20px;
    }
    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }
    .promo {
        background: url('../img/bg.jpg') no-repeat 60%/cover;
        &__btns {
            margin-top: 30px;
        }
    }
    .info {
        &__wrapper {
            grid-template: 340px / 1fr;
        }
        &__skills {
            grid-template-columns: 1fr;
        }
        &__subtitle {
            font-size: 24px;
            line-height: 36px;
        }
    }
    .resume {
        padding-left: 10px;
        &__wrapper {
            padding: 20px 0 0 0;
            grid-template-columns: 300px;
        }
        &__subtitle {
            font-size: 24px;
        }
        &__collum {
            &-title {
                font-size: 20px;
            }
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            padding: 51px 30px 0 30px;
            grid-template-columns: 1fr;
            grid-template-rows: 270px;

        }
        &__subtitle {
            font-size: 24px;
        }
    }
    .portfolio {
        &__wrapper {
            padding-top: 40px;
        }
    }
    .price {
        &__wrapper{
            grid-template-columns: repeat(auto-fit, 295px);
        }
        

    }
    .contacs {
        padding-bottom: 50px;
        &__form {
            grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
        }
        &__textarea {
            grid-column: unset;
            width: 100%;
        }
        &__triggers {
            grid-column: unset;
            grid-template-columns: 1fr;
            column-gap: unset;
            row-gap: 20px;
        }
        &__btn {
            order: 2;
            max-width: 220px;
            margin: 0 auto;
        }
        &__policy {
            width: 180px;
            margin: 0 auto;
            line-height: 18px;
        }
    }
}